.h7f00ff_hb369ff {
	color: #7F00FF;
}
.h7f00ff_hb369ff:active,
.h7f00ff_hb369ff:hover {
	color: #b369ff;
}
.rgba255-0-0-1_rgba255-0-0-0d7_rgb200-0-0 {
	color: rgba(255, 0, 0, 1);
}
.rgba255-0-0-1_rgba255-0-0-0d7_rgb200-0-0:active,
.rgba255-0-0-1_rgba255-0-0-0d7_rgb200-0-0:hover {
	color: rgba(255, 0, 0, 0.7);
}
.rgba255-0-0-1_rgba255-0-0-0d7_rgb200-0-0:visited {
	color: rgb(200, 0, 0);
}
.goldenrod_hsl43-62p-58p_darkgoldenrod {
	color: goldenrod;
}
.goldenrod_hsl43-62p-58p_darkgoldenrod:active,
.goldenrod_hsl43-62p-58p_darkgoldenrod:hover {
	color: hsl(43, 62%, 58%);
}
.goldenrod_hsl43-62p-58p_darkgoldenrod:visited {
	color: darkgoldenrod;
}
._springgreen_:active,
._springgreen_:hover {
	color: springgreen;
}
._orange_:active,
._orange_:hover {
	color: orange;
}
